*{
    margin: 0;outline: 0;padding: 0;
}
body{
    font-family: Arial;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
}
.content{background: gray; width: 800px; margin:  0 auto;}
.maincontent{
    background: #dddddd;
    min-height: 500px;
    margin: 10px;
    padding: 5px 10px;
color: #000000}
.header,.footer{text-align: center;padding: 10px;background: gray;}

.skill{background-color:gray;margin-left: 46px; width: 114px; padding: 6px 30px }
.skill ul{ margin: 0px; padding: 0px; list-style: none; }
.skill ul li{cursor: pointer;}

.refresh{background-color:gray;margin-left: 46px; width: 200px; padding: 6px 30px }
.refresh ul{ margin: 0px; padding: 0px; list-style: none; }
.refresh ul li{cursor: pointer;}

.tableDesign{ width: 100%; }
.tableDesign tr{} 
.tableDesign tr td {}

.tableDesign {border: 1px solid #fff;margin-bottom: 12px; width: 100%;
}
.tableDesign th {
  background: #666 none repeat scroll 0 0;
  color: #fff;
  font-size: 20px;
  padding: 5px 8px;
  text-align: center;
}
.tableDesign td{padding:10px;text-align:center;}

table.tableDesign tr:nth-child(2n+1){background:#fff;height:30px;}
table.tableDesign tr:nth-child(2n){background:#fdf0f1;height:30px;}
.paragraph {height: 200px;width: 713px;background-color: #fff;padding: 20px; margin-top: 51px;position: relative;}
.errorForm{color: red;font-size: 15px;}

.innderDivClass{width: 200px;height: 200px;text-align: center;vertical-align: middle;display: table-cell;color:white;}
.outerClass{width: 300px;height: 300px;margin:0 auto; border: 1px solid black;}
.box{width:200px; background-color: #999;border: 1px solid black;float: left;margin: 0 auto; margin-left: 10px;display: inline-table;padding: 5px;font-size: 18px;}
li{margin-left: 15px;}
.widget{background-color: black;color: white;border: 2px solid red;}
.box1{width: 200px;height: 200px;text-align: center;vertical-align: middle;display: table-cell;color:white;}
.ui-resizable-helper{border: 1px dotted #000;}
.parent{width: 500px;height: 400px;border: 1px solid #000;}
.myDiv{width: 600px;margin:0 auto; padding: 5px 10px;border: 1px solid #000;font-size: 15px;text-align: justify;}
.transitionDiv{width: 600px;background-color: #999;color: #444;padding: 6px 12px;margin:0  auto; text-align: justify;border: 2px dotted blue;}
.effectDivOne{width: 300px;height: 250px;margin: 0 auto;text-align: center;}
#effectDivTwo{widows: 250px; height: 180px;background-color: #444;color:#999;}
.accordian{width: 600px;margin:0 auto;}